body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(40, 55, 77);
  display: flex;
  justify-content: center;
}

main {
  background-color: rgb(223, 228, 236);
  padding: 30px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
  width: 90vw;
  max-width: 400px;
}

h1 {
  margin: 0 0 30px;
  text-align: center;
}

select {
  min-width: 100%;
  min-height: 40px;
  font-size: 18px;
  padding: 0 20px 0 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
}

.list {
  min-width: 100%;
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.item:hover {
  background-color: #d9e4bb;
}

.item>p {
  margin: 0;
  pointer-events: none;
}

.item:not(:last-child) {
  border-bottom: 1px solid #c0c0c0;
}

.item>div {
  color: rgb(228, 41, 41);
  cursor: pointer;
}